<div class="expenses-panel">
  <h2>Expenses panel</h2>

  <div class="filters">
    <label>
      Department:
      <select [(ngModel)]="selectedDepartment" (change)="filterEmployees(); filterExpenses()">
        <option *ngFor="let dept of departments" [value]="dept._id">{{ dept.name }}</option>
      </select>
    </label>

    <label>
      Employee:
      <select [(ngModel)]="selectedEmployee" (change)="filterExpenses()">
        <option *ngFor="let emp of filteredEmployees" [value]="emp._id">{{ emp.firstname + ' ' + emp.lastname }}
        </option>
      </select>
    </label>

    <button (click)="resetFilters()">Reset filters</button>

  </div>

  <table>
    <thead>
    <tr>
      <th>Sum</th>
      <th>Date</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of filteredExpenses">
      <td>{{ expense.sum }}</td>
      <td>{{ expense.date | date }}</td>
      <td>{{ expense.expenseType.name }}</td>
      <td>
        <button (click)="editExpense(expense)">Edit</button>
        <button (click)="deleteExpense(expense._id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="editingExpense" class="edit-form">
    <h3>Edit expense</h3>
    <form [formGroup]="editForm" (ngSubmit)="saveExpense()">
      <label>Sum: <input formControlName="sum" type="number"/></label>
      <label>Date: <input formControlName="date" type="date"/></label>
      <label>Type:
        <select formControlName="expenseType">
          <option *ngFor="let type of expenseTypes" [value]="type._id">{{ type.name }}</option>
        </select>
      </label>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
